.form-row{
    margin-top: 20px;
}

.error-p{
    color: red;;
}

.container{
    padding: 50px 20px;
}

.fizzbuzz-form{
    background-color: #eee;
    padding: 20px;
    margin-top: 50px;
}

.result-section{
    padding: 20px;
    margin-top: 50px;
}