.App {
  text-align: left;
  margin: 100px;
  display: block;
  color: #666;
}

label {
  display: block;
}

.form-container,
.result-container {
  width: 60vw;
  display: block;
  margin: 10px auto;
}

.input-col {
  width: 33%;
  display: inline-block;
  align-items: flex-start;
}

input {
  display: inline;
  width: 88%;
  height: 2em;
  max-width: 250px;
  margin: 10px auto;
}

.submit-btn {
  width: 100%;
  background-color: #3db2ff;
  color: #fff;
  border-radius: 15px;
  font-size: 1.1em;
}

/* hide learn react */
.App-link {
  display: none;
}
